In [1]:
students=['deepak','anusha','kiran','ravi','papi','ram']

In [2]:
print(students)

['deepak', 'anusha', 'kiran', 'ravi', 'papi', 'ram']

In [3]:
type(students)

list

In [4]:
#to access kiran name

In [5]:
print(students[2])

kiran

In [6]:
#to access papi name

In [7]:
print(students[4])

papi

In [8]:
#enhancement of code

In [10]:
print(students[2].title())

Kiran

In [12]:
print(students)

['deepak', 'anusha', 'kiran', 'ravi', 'papi', 'ram']

In [49]:
print(students[4].title())

Ravi

In [50]:
print(students[5].upper())      #######i want to make all names as upper case letters

PAPI

In [17]:
#replace kiran with sajid

In [18]:
students[2]='sajid'

In [19]:
print(students)

['deepak', 'anusha', 'sajid', 'ravi', 'papi', 'ram']

In [20]:
#to add swapna to list

In [21]:
students.append('swapna')

In [22]:
print(students)

['deepak', 'anusha', 'sajid', 'ravi', 'papi', 'ram', 'swapna']

In [23]:
#to insert laxmi to 3rd position

In [24]:
students.insert(3,'laxmi')

In [25]:
print (students)

['deepak', 'anusha', 'sajid', 'laxmi', 'ravi', 'papi', 'ram', 'swapna']

In [28]:
students.insert(3,'raju')

In [29]:
print(students)

['deepak', 'anusha', 'sajid', 'raju', 'laxmi', 'ravi', 'papi', 'ram', 'swapna']

In [30]:
#to remove deepak

In [31]:
del students[0]

In [32]:
print(students)

['anusha', 'sajid', 'raju', 'laxmi', 'ravi', 'papi', 'ram', 'swapna']

In [33]:
students.insert(0,'deepak')

In [34]:
print(students)

['deepak', 'anusha', 'sajid', 'raju', 'laxmi', 'ravi', 'papi', 'ram', 'swapna']

In [36]:
del students('deepak','raju')     #i want to delete multiple names

SyntaxError: can't delete function call (<ipython-input-36-56f77132dd0f>, line 1)

In [37]:
#pop operations

In [38]:
x=students.pop()

In [39]:
print (students)

['deepak', 'anusha', 'sajid', 'raju', 'laxmi', 'ravi', 'papi', 'ram']

In [40]:
x=students.pop()

In [42]:
print(students)

['deepak', 'anusha', 'sajid', 'raju', 'laxmi', 'ravi', 'papi']

In [43]:
print(x)

ram

In [44]:
x=students.pop(3)

In [45]:
print(x)

raju

In [46]:
print(students)

['deepak', 'anusha', 'sajid', 'laxmi', 'ravi', 'papi']

In [51]:
#introduction to looping

In [57]:
bank_cust=['naveen','papi','ram','karthik','samia','surya','vandana','anusha']

In [58]:
print(bank_cust)

['naveen', 'papi', 'ram', 'karthik', 'samia', 'surya', 'vandana', 'anusha']

In [59]:
#to greet cust on new year

In [62]:
print(f"wish you happy new year,{bank_cust[0]}")      ##### why should we take f here?

wish you happy new year,naveen

In [63]:
print(f"wish you a happy new year,{bank_cust}")

wish you a happy new year,['naveen', 'papi', 'ram', 'karthik', 'samia', 'surya', 'vandana', 'anusha']

In [64]:
print(f"wish you a happy new year,{bank_cust[4]}")

wish you a happy new year,samia

In [65]:
for customers in bank_cust:
    print(f"wish you a happy new year,{customers}")

wish you a happy new year,naveen
wish you a happy new year,papi
wish you a happy new year,ram
wish you a happy new year,karthik
wish you a happy new year,samia
wish you a happy new year,surya
wish you a happy new year,vandana
wish you a happy new year,anusha

In [66]:
###for loop

In [67]:
students=['anusha','suman','karthik','khan','sarfaraz']

In [68]:
print(students)

['anusha', 'suman', 'karthik', 'khan', 'sarfaraz']

In [69]:
type(students)

list

In [70]:
for x in students:
    print(f"keep up the good work,{x}")

keep up the good work,anusha
keep up the good work,suman
keep up the good work,karthik
keep up the good work,khan
keep up the good work,sarfaraz

In [71]:
for x in students:
    print(f"keep up the good work,{x.title()}")

keep up the good work,Anusha
keep up the good work,Suman
keep up the good work,Karthik
keep up the good work,Khan
keep up the good work,Sarfaraz

In [72]:
for x in students:
    print(f"keep up the good work,{x.upper()}")

keep up the good work,ANUSHA
keep up the good work,SUMAN
keep up the good work,KARTHIK
keep up the good work,KHAN
keep up the good work,SARFARAZ

In [74]:
for x in students:
    print(f"keep up the good work,{x.title()}")
    print(f"I will be looking forward to receive all your files{x.title()}.\n")
    
print(f"thank you for all for showing interest")

keep up the good work,Anusha
I will be looking forward to receive all your filesAnusha.

keep up the good work,Suman
I will be looking forward to receive all your filesSuman.

keep up the good work,Karthik
I will be looking forward to receive all your filesKarthik.

keep up the good work,Khan
I will be looking forward to receive all your filesKhan.

keep up the good work,Sarfaraz
I will be looking forward to receive all your filesSarfaraz.

thank you for all for showing interest

In [75]:
###sorting

In [76]:
students=['ali','khan','raja','sarfaraz','feroz']

In [77]:
print(students)

['ali', 'khan', 'raja', 'sarfaraz', 'feroz']

In [78]:
print(sorted(students))

['ali', 'feroz', 'khan', 'raja', 'sarfaraz']

In [79]:
print(students)

['ali', 'khan', 'raja', 'sarfaraz', 'feroz']

In [80]:
students.sort()

In [81]:
print(students)

['ali', 'feroz', 'khan', 'raja', 'sarfaraz']